{% extends 'base.html' %}
{% block content %}

   <form action="{{url_for('report')}}">
       <div id="list">
           <p><b>The web page analyzer, analyzes a web page and prints the following information:</b><br>
           <ul>
           <li> Number of words</li>
           <li>Number of sentences</li>
            <li>Five most frequent words</li>
            </ul>
       </div>
    <label for="url" >Enter the file name</label>
    <input id="url" type="text" name="address" >
    <input id="submit" type="submit">
</form>


{% endblock %}