{% extends 'base.html' %}
{% block content %}

   <form action="{{url_for('report')}}">
       <div class="list">
           <p><b>The web page analyzer, analyzes a web page and prints the following information:</b><br>
           <ul>
           <li> Number of words</li>
           <li>Number of sentences</li>
            <li>Five most frequent words</li>
            </ul>
       </div>
    <label for="url" >Enter the file name</label>
    <input id="url" type="text" name="address" >
    <input id="submit" type="submit">
</form>

<div id="container">
    <h6><b>Example formats</b></h6>
    <ul class="list" style="list-style-type:none;">
        <li> &#10060;'google' </li>
        <li> &#10060;'google.com' </li>
        <li>&#10004;'http://google.com' </li>
        <li>&#10004;'https://google.com' </li>
        <li>&#10060; 'http://google'  </li>
        </ul>
</div>


{% endblock %}